<%- include("templates/header") %>
<div class="text-center mt-5">
<h1>Welcome, <%- user %></h1>
<br>
<a href="/members"><button class="btn btn-success">Go to Members area</button></a>
<a href="/logout"><button class="btn btn-outline-secondary">Logout</button></a>
</div>
<%- include("templates/footer") %>