<%- include("templates/header") %>
<h1>Oops, that didn't work</h1>
<h3>Looks like you didn't fill in all of the fields</h3>
<a href="/signup"><button class="btn btn-danger">Try again!</button></a>
<%- include("templates/footer") %>